/* 👇🏻 Tirando as margin do body a adicionando a fonte */
body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
}

/* 👇🏻 Alinhando o page ao centro e definindo a largura */
.page {
  margin: 64px auto 0;
  width: 1000px;
}

/* 👇🏻 Navegação - Atribuindo o espaçamento com o display */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 58px;
}

/* 👇🏻 Este código cria um menu de navegação horizontal com uma lista de itens representados por elementos li dentro de um contêiner ul. */
nav ul {
  display: flex;
  gap: 48px;
  list-style: none;

  margin: 0;
  padding: 0;
}

/* 👇🏻 Adicionando cor e removendo o estilo da tag `a` */
a {
  color: #1f1534;
  text-decoration: none;
}

/* 👇🏻 Adicionando um hover, para quando eu passar o mouse em cima */
ul li a:hover {
  font-weight: bold;
}

/* 👇🏻 Adicionando fonte no `h1` */
h1,
ul {
  font-family: 'Mulish', sans-serif;
}

/* 👇🏻 Alinhando o container main */
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 👇🏻 Estilizando o `h1` */
h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: normal;

  width: 490px;
}

/* 👇🏻 Estilizando o span dentro do `h1` */
h1 span {
  color: #89c5cc;
  font-weight: bold;
}

/* 👇🏻 Estilizando a tag `p` e adicionando espaçamento */
section p {
  font-size: 14px;
  line-height: 29px;
  color: #7d7987;

  margin: 40px 0;
}

/* 👇🏻 Estilizando o button */
button {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69b99d;

  /* 👇🏻 para remover a borda eu posso colocar `none` ou `0` */
  border: 0;
  border-radius: 4px;
  padding: 14px 32px 15px;

  /* 👇🏻 alinhando o conteúdo do button */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* add cursor */
  cursor: pointer;
}

/* 👇🏻 Quando o mouse passar em cima faz-se alguma coisa */
button:hover {
  background: #4ea788;
}

/* 👇🏻 Estilizando o footer e adicionando espalamento */
footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin-top: 80px;
}

/* 👇🏻 Adicionando um bold na tag `a` dentro do footer */
footer a {
  font-weight: bold;
}
